.contacts{
    padding: 0 0 25rem;
    margin: 30px 0 0;
    width: 100%;

    color: #612D62;
    font-family: 'Caveat', cursive;
    font-size: 20pt ;
    line-height: 22pt;
    text-indent: 10px;
}
.title {
    color: white;
    background-color: #ff54a4;
}

.contacts_address{
    display: flex;
    justify-content: space-between;

}
.address{
    margin: 0;

}
.map{
    border: 7px solid #ff54a4;
    margin: 0 20px 0 0;
}
