* {
    font-family: 'Roboto Condensed', sans-serif;

}
html{
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    font-size: 1vw;
}
body{
    font-size: 1.5rem;
    line-height: 1.25em;
    word-wrap: break-word;
    font-weight: 400;
    justify-content: space-between;

}
header {
    background-color: rgba(27, 27, 27, .75);
    padding: 0;
    margin: 0;
    z-index: 100;
    height: 4.5em;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-content: center;
}

.logo {
    position: relative;
    width: 8.5em;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo_span{
    display: flex;
    height: 70%;
    padding: 0 1em;
}
.logo_span img {
    display: inline-flex;
    width: 100%;
}
.soc{
    display: flex;
}
.soc a{
    margin-right: 0.5em;
    position: relative;
    font-size: 0.6em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.soc a:hover {
    color: gold;
}

.nav-bar {
    display: flex;
    align-items: center;
}
.menu_item a:hover:after {
    width: 100%;
}
.menu {
    height: 100%;
    font-size: 0.8em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    margin: 0 auto;
}

.menu_item {
    height: 100%;
    margin-right: 1em;
}

.menu a {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: transparent;

}
.menu a:after {
    content: "";
    width: 0;
    height: 0.4em;
    background-color: #00afb6;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: .15s;
}

.header__burger {
    display: none;
    color: #000;
}

.UA {
    color: #00afb6;
    margin: 0 1em;
}

.closeModal {
    display: none;
}

@media (max-width: 767px) {
    html{
        font-size: 3vh;
    }
    header {
        height: 1.7em;
        font-size: 1.2em;
    }

    .logo{
        width: 5em;
        font-size: 1em;
    }
    .logo_span{
        height: 80%;
        /*padding: 0 .2em 0 .3em;*/
    }
    .logo_span img {
        display: inline-flex;
        width: 100%;
    }
    .soc{
        font-size: 0.6em;
        margin: 0;
    }
    .soc a{
        margin-right: 0.8em;

    }
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /*margin-right: 0.7em;*/
        font-size: 0.6em;
    }

    .menu a:after {
        display: none;
    }

    .menu_item {
        height: 2.4em;
        margin: 0 1.1em;
        font-size: 1.2em;
    }

    .menu__open {
        display: inline;
        top: -100%;
        left: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(27,27,27,.9);
        position: fixed;
        width: 100%;
        z-index: 5;
        overflow-y: auto;
    }
    .menu_item a{
        font-weight: bold;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 1.5em;
        height: 1.2em;
        float: right;
        /*margin-right: 0.3em;*/
        margin-right: 0.7em;
        font-size: 0.7em;
        cursor: pointer;

    }

    .header__burger span {
        position: absolute;
        background-color: #00afb6;
        left: 0;
        width: 100%;
        height: 0.15em;
        top: 0.50em;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #00afb6;
        position: absolute;
        width: 100%;
        height: 0.15em;
        left: 0;
        transition: all 0.3s ease 0s;

    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }


    .Ua{
        margin: 0;
    }


    .closeModal {
        display: block;
        position: sticky;
        float: right;
        width: 1.5em;
        height: 1.5em;
        top: 1em;
        cursor: pointer;

    }
    .closeModal::before,
    .closeModal::after {
        content: '';
        position: absolute;
        display: block;
        width: 1.2em;
        height: 0.17em;
        top: .6em;
        background: #ffffff;
    }

    .closeModal::before {
        transform: rotate(45deg);
    }

    .closeModal::after {
        transform: rotate(-45deg);
    }
    label, p, #related_list{
        font-size: 0.8em;
    }
    #related_result{
        font-size: 1.5rem;
    }
}
